li {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px;
  width: 25%;
  @media (max-width: 1230px) {
    width: 33%;
  }
  @media (max-width: 860px) {
    width: 100%;
  }
  &:hover {
    border-color: rgba(255, 255, 255, 0.2);
    transition: border-color 200ms ease-in;
  }
  &.ativo {
    border-color: #ff4545;
    transition: border-color 200ms ease-in;
  }
  .infos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    img {
      max-height: 200px;
      border: 1px solid #666;
      cursor: pointer;
      &:hover {
        border: 1px solid #fff;
        transition: border-color 200ms ease-in;
      }
    }
    h3 {
      text-transform: uppercase;
      text-align: center;
      margin: 20px 0;
    }
  }
  .selecionar {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    svg {
      margin-right: 5px;
    }
    &:hover {
      color: #fff;
      transition: color 200ms ease-in;
    }
    &.ativo {
      color: #ff4545;
      transition: color 200ms ease-in;
    }
  }
}
