footer {
  width: 100%;
  height: auto;
  border-top: 1px solid #393939;
  background-color: none;
  z-index: 1;
  display: flex;
  padding: 30px 30px;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      padding: 15px 15px;
      border: none;
      background: #c00;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: #000;
        transition: background 200ms ease-in;
      }
    }
    .status_email {
      margin-top: 10px;
      display: none;
      color: rgb(96, 223, 84);
      &.ativo {
        display: block;
      }
    }
  }
}
