@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.container {
  padding-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
